{% extends "washers/home.html" %}


{% block body %}



    {% for car in cars %}
         <ul class="collection">
    <li class="collection-item avatar">
      <span class="title">Car Type: {{ car.carType }}</span>
      <p>Car Model: {{car.carModel }}<br>
         Car Year: {{ car.carYear }}
      </p>


    </li>
  </ul>
    {% endfor %}
    <a href="{% url 'createCar' %}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
<ul>
    {% if cars.has_previous %}
        <a href="{% url 'cars' %}?page={{ cars.previous_page_number }}" class="waves-effect waves-light btn-large">
            <i class="material-icons left">navigate_before</i>Pervous Page</a>
{#    <a href="{% url 'cars' %}?page={{ cars.previous_page_number }}">Pervous Page</a>#}
    {% endif %}
    {% if cars.has_next %}
        <a href="{% url 'cars' %}?page={{ cars.next_page_number }}" class="waves-effect waves-light btn-large">
            <i class="material-icons left">navigate_next</i>Next Page</a>

{#    <a href="{% url 'cars' %}?page={{ cars.next_page_number }}">Next Page</a>#}
    {% endif %}
</ul>

{% endblock %}

{#            {% if page.has_prevous %}#}
{#            class="waves-effect"#}
{#            {% else %}#}
{#            class="disabled"#}
{#            {% endif %}#}